.location_container {
    border-left: 2px solid var(--dark-blue);
    border-right: 2px solid var(--dark-blue);
    position: fixed;
    height: 100vh;
    width: 120px;
    right: 1%;
    vertical-align: middle;
}

#location_page-title {
    font-family: 'American Typewriter', sans-serif;
    writing-mode: vertical-rl;
    text-orientation: sideways;
    color: var(--dark-blue);
    letter-spacing: 1px;
    position: fixed;
    display: flex;
    align-items: center;
    font-size: 17px;
    width: 125px;
    transition: 1s;
    top: 8%;
}
