.ham-page {
    width: 85%;
    float:left;
}

.ham-location {
    width : 15%;
}

.hamintro{
    text-align: justify;
    margin: 5% 0% 2% 5%;
}


.hamlogo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}

.hamfront{
    margin-left: 5%;
    margin-right: 2%;
    height: 200px;
    width: 250px;
    float: left;
    margin-bottom: 1%;
}

.hamrightimg{
    margin-right:0%;
    margin-top: 0;
    text-align: justify;
    margin-left: 5%;
    margin-bottom: 2em;
}

.hamfirsttitle{
    margin-top: 0;
}

.hamMuseumSelector {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
    margin-left: 5%;
    margin-: %;
}
  
.hamMuseumSelector button {
    border: 2px solid transparent;
    background: white;
    font-size: 1rem;
    padding: 0.5rem;
    flex-grow: 1;
}
  
.hamMuseumSelector button {
    border-bottom: 2px solid #eee;
}

.hamMuseumSelector button.active {
    border-bottom: 2px solid #362525;
}

.hamMuseumSelector button:focus {
    outline: none;
}

.hamsocialMedia .hamimg{
    height: 50px;
    width: 50px;
    margin-left: 35px;
    margin-right: 35px;    
    bottom: 0;
}

.hamsocialMedia{
    text-align: center;
    margin-left: 5%;
    padding-bottom: 2%;

}
.hampage{
    padding-bottom: 3em;
}

@media screen and (max-width: 440px) {
    .hamfront{
        margin-left: 12.5%;
    }
    .hamsocialMedia img{
        height: 15px;
        width: 15px;
    }
  }

@media screen and (max-width: 750px) {
    .hamsocialMedia img{
        height: 35px;
        width: 35px;
    }
}
@media screen and (max-width: 660px) {
    .hamsocialMedia img{
        height: 20px;
        width: 20px;
        margin-left: 2%;
    }
    .hamintro{
        padding-bottom: 2em;
        padding-top: 2em;
    }
}