/* :root {
  --second-color: #ffffff;
  --light-grey-color: #EAE8E8;
  --dark-grey-color: #363636;
  --black-color: #000000;
  --dark-blue : #16213e;
} */

/* var(--main-color) */

.modalBackground {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 1;
  left: 0;
  top: 0;
  animation-name: animatetop;
  animation-duration: 0.4s;
}
  
.modalContainer {
  flex: 0 1 90%;
  height: 86%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 375px) {
  .modalContainer {
    flex: 0 1 95%;
  }
}

.modalHeader {
  background-color: var(--dark-blue);
  /* color: var(--second-color); */
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  justify-content: flex-end;
  padding: 15px;
}

.modalBody {
  background-color: var(--main-color);
  overflow: auto;
  display: flex;
  justify-content: space-around;
  padding: 30px 10px;
}

.modal-span {
  font-size: 1.2em;
  font-family: var(--location-title), serif;
  color: var(--light-blue);
  text-decoration: underline;
  font-weight: bold;
  padding-bottom: 15px;
  padding-top: 15px;
}

.modal-copy {
  font-family: sans-serif;
  font-size: 0.8em;
  text-align: justify;
  margin-top: 50px;
}

/* .modalFooter {
  background-color: var(--second-color);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  color: var(--second-color);
  padding: 10px;
  display: flex;
  text-align: center;
  justify-content: flex-end;
  border-top: 1px solid var(--light-grey-color);
} */
  
.modalBtn {
  border: 1px solid var(--light-grey-color);
  background: var(--light-grey-color);
  color: var(--black-color);
  border-radius: 6px;
  padding: 9px 5px;
  width: 90px;
  border: 0;
  cursor: pointer;
  margin: 0;
  font-size: 15px;
}
  
.modalBtn:hover {
  background: var(--dark-blue);
  color: var(--second-color);
  border: 1px solid var(--light-grey-color);
}

@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

@media screen and (max-width: 600px) {
  .modalBody {
    display: flex;
    flex-wrap: wrap;
    padding: 30px 10px;
    background: var(--white-color);
    overflow: auto;
  }
  .modalBackground{
    background-color: var(--second-color);
  }
}