.home {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100vh;
}

.logo img {
  border-radius: 40px;
  position: relative;
  width: 40%;
  height: auto;
  left: 2%;
  margin-top: 30px;
  padding: 10px;
}

@media screen and (max-width: 768px) {
  .logo img {
    width: 80%;
    padding-top: 10%;
    left: 9%;
  }
}

@media screen and (max-width: 375px) {
  .logo img {
    width: 85%;
    padding-top: 15%;
    left: 2%
  }
  .menu {
    display: none;
  }
}

@media screen and (min-width: 376px) {
  .home-locationMob {
    display: none;
  }
}