.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    padding-top: 15px;
}

.gallery img {
    width: 50%;
    height: auto;
    padding-bottom: 10%;
    margin-left: auto;
    margin-right: auto
}

.divImg {
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.divImg:hover img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: all .5s ease;
    overflow: hidden;
}

.gallery div:hover img{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
@media screen and (max-width: 600px) {
    .gallery {
        width: 100%;
    }
    .divImg {
        width: 30%;
    }
    .gallery img {
        width: 60%;
    }
}

@media screen and (max-width: 450px) {
    .divImg {
        width: 100%;
        /* margin: 0; */
    }
    .gallery img {
        width: 60%;
        /* margin: 0; */
    }
}
