body {
  background-color: #2a3a49;
  padding: 0;
  margin: 0;
}

:root {
  --main-color: #F6F6F6;
  --second-color: #FFFFFF;
  --pearl-grey : #C4C4C4;
  --black: black;
  background-color:#F6F6F6;
}

.App {
  text-align: center;
}
