/* .singleCard {
    border: #f5ebd7 solid 10px;
    height: 280px;
    width: 200px;
    position: relative;
    left: 26px;
    bottom: -22px;
    z-index: 1;
}

.borderPhoto {
    background-color: #c4c4c4;
    height: 300px;
    width: 215px;
    color: #c4c4c4;
    position: absolute;
    bottom: 50px;
    top: -6px;
    z-index: 0;
} */

.memberCardsDiv {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.singleCard {
    position: relative;
    width: 250px;
}

.singleCard:before {
    position: absolute;
    content: '';
    right: -30px;
    top: 30px;
    border: 10px solid rgba(123, 138, 83, 0.5);
    width: 100%;
    height: 100%;
}

.addHover {
    transform: scale(1.4);
    transition-duration: 0.5s;
    color: red;
}